@font-face {
    font-family: 'playlist';
    src: url('../../fonte/Playlist Script.otf');
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #E6AD9C;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    margin: 0;
}

.container {
    padding: 0em 20em;
}

h1 {
    color: #ffff;
    font-family: 'playlist';
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.box {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.detalhes {
    color: #ffff;
    margin-bottom: 10px;
    font-size: 20px;
}

.detalhes p {
    margin: 5px 0;
}

a {
    color: #ffff;
    text-decoration: none;
    font-size: 16px;
    display: block;
    margin-top: 20px;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

.carrinho {
    text-align: center;
}

.carrinho button {
    background: none;
    border: none;
    cursor: pointer;
}

.carrinho button img {
    width: 50px;
}

@media (max-width: 768px) {
    .container {
        padding: 0em 2em;
    }
}
