@font-face {
    font-family: 'playlist';
    src: url('../../fonte/Playlist\ Script.otf');
}
  
body {
    background-color: #E6AD9C;
    font-family: 'playlist';
    padding: 10px 10px; 
}

li a{
    color: #ffff;
    text-decoration: none;
    font-size: 50px;
}

h1{
    color:#ffff;
    font-size: 70px;
}

.flex-container{
    display: flex;
}

